{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="form-group">
        {{ form_label(form.city) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.address) }}
        {{ form_errors(form.address) }}
        {{ form_widget(form.address) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.type) }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.type) }}
    </div>

    {{ form_widget(form.save) }}
    <a href="{{ path('admin_countries') }}" class="btn btn-default"> Nazad </a>

{{ form_end(form) }}