<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page_title is defined %} {{ page_title }} | Admin {% endif %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('skins/admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('skins/admin/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ asset('skins/admin/dist/css/sb-admin-2.css') }}" rel="stylesheet">
        <link href="{{ asset('skins/admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar to be included for navigating trough admin cms -->
        {% include '@App/admin/master/sidebar.html.twig' %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    {% block body %}{% endblock %}

                </div>
            </div>
        </div>

    </div>

    {% block javascripts %}
        <script src="{{ asset('skins/admin/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('skins/admin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('skins/admin/vendor/metisMenu/metisMenu.min.js') }}"></script>
        <script src="{{ asset('skins/admin/dist/js/sb-admin-2.js') }}"></script>
    {% endblock %}

    </body>
</html>
