{# empty Twig template #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if page_title is defined %} {{ page_title }} | Admin {% endif %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('skins/admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('skins/admin/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ asset('skins/admin/dist/css/sb-admin-2.css') }}" rel="stylesheet">
        <link href="{{ asset('skins/admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                {% if error %}
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span> {{ error.message }} </span>
                    </div>
                {% endif %}
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="panel-body">
                    <form class="login-form" action="{{ path('auth') }}" method="post">
                        <input type="hidden" name="_target_path" value="admin_homepage" />
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="Username or Email"
                                       autocomplete="off" id="username" name="_username" value="{{ last_username }}" />
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-solid placeholder-no-fix" type="password"
                                       autocomplete="off" placeholder="Password" id="password" name="_password"/>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit' }}" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block javascripts %}
        <script src="{{ asset('skins/admin/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('skins/admin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('skins/admin/vendor/metisMenu/metisMenu.min.js') }}"></script>
        <script src="{{ asset('skins/admin/dist/js/sb-admin-2.js') }}"></script>
    {% endblock %}

    </body>
</html>
